/bkupsrv/testBackup/* linguist-documentation
/bkupsrv/testBackupRestore/* linguist-documentation
/contentsrv/testBackup/* linguist-documentation
/contentsrv/testBackupRestore/* linguist-documentation
/contentsrv/testDownloads/* linguist-documentation
/contentsrv/testUploads/* linguist-documentation
/contentsrv/testUploadTemplates/* linguist-documentation
/templatesrv/testDownloads/* linguist-documentation
/templatesrv/testUploads/* linguist-documentation
/templatesrv/testUploadTemplates/* linguist-documentation
/static/* linguist-documentation
/scripts/* linguist-documentation