<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
    <div class="container-sm">
        <div class="shadow-none p-3 mb-5 mt-5 bg-white text-dark rounded">
            <h1>Reset Password</h1>
           
            <form method="POST" action="/customerResetPassword">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input name="username" type="email" class="form-control" id="username">
                </div>                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/register" class="btn btn-outline-info mt-5" role="button" aria-pressed="true">Register</a>
        </div>
    </div>
</body>

</html>