{{define "navBar"}}
<nav class="navbar navbar-expand-lg navbar-{{.Shade}} bg-{{.Background}}" style="{{.StyleCSS}}">
    <a class="navbar-brand" href="{{.BrandLink}}">{{.BrandHTML}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarNav">      
      <ul class="navbar-nav">
        {{range .MenuItemList}}
        <li class="nav-item active">
          <a class="nav-link" href="{{.Link}}">{{.Name}} <span class="sr-only">(current)</span></a>
        </li>
        {{end}}        
      </ul>
    </div>
  </nav>
{{end}}