<!DOCTYPE html>
<html>
{{template "head"}}


<body>
    {{range .MenuList}}
    {{if and (eq .Location "top")  (eq .Active true) (eq .Name "navBar")}}
    {{template "navBar" .}}
    {{end}}
    {{end}}
    <div class="container-fluid">
        {{.Content.TextHTML}}
    </div>
    <div class="container-fluid mt-2">
        {{range .CategoryList}}
        <a href="/productByCategoryList/{{.ID}}/{{.Name}}/0/100" class="text-dark ">/{{.Name}} </a>        
        {{end}}
    </div>

    <div class="container mt-5 mb-5">
        <h4 class="text-center mt-5">{{.Product.ShortDesc}}</h4>
        <div class="row mt-5">
            <div class="col-sm-8">
                <img src="{{.Product.Image1}}" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        {{if ne .Product.SalePrice 0.0}}
                        <h5 class="card-title text-danger">On Sale: ${{.Product.SalePrice}}</h5>
                        {{else}}
                        <h5 class="card-title">Price: ${{.Product.Price}}</h5>
                        {{end}}
                        <h6 class="card-title">Available: {{.Product.Stock}}</h6>
                        <h6 class="card-title">Sku: {{.Product.Sku}}</h6>
                        <h6 class="card-title">Manufacturer: </h6>
                        <h6 class="card-title">{{.Product.Manufacturer}}</h6>
                        <form method="GET" action="/addProductToCart">
                            <label for="cost">Quantity</label>
                            <input name="qty" min="0" max="{{.Product.Stock}}" type="number" class="form-control" id="qty">
                            <input name="id" type="hidden" id="id" value="{{.Product.ID}}">
                            <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h4 class="text-center mt-5">Description</h4>
        <div class="alert alert-success" role="alert">
            {{.Product.Desc}}
        </div>

    </div>

</body>

</html>