<!DOCTYPE html>
<html>
{{template "head"}}



<body>
    {{template "navbar"}}
    <div class="container">        
        <h4 class="text-center mt-4">Add Admin User</h4>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="prod-tab" data-toggle="tab" href="#distedit" role="tab"
                    aria-controls="distributors" aria-selected="true">User</a>
            </li>
           
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="distedit" role="tabpanel" aria-labelledby="home-tab">
                <div class="shadow-none p-3 mb-5 mt-5 bg-light rounded">
                    <form method="POST" action="/admin/addAdminUser">                        
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control" id="username" >
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password" >
                        </div>

                        <div class="form-group">
                            <label for="password2">Confirm</label>
                            <input name="password2" type="password" class="form-control" id="password2" >
                        </div>
                        <div id="CheckPasswordMatch" class="alert alert-danger" role="alert"
                            style="visibility: hidden;">

                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input name="enabled" class="form-check-input" type="checkbox" id="enabled">
                                <label class="form-check-label" for="enabled">Enabled</label>
                            </div>
                        </div>
                          
                          <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>            
        </div>

    </div>
</body>

</html>