<!DOCTYPE html>
<html>
{{template "head"}}

<body>
  {{template "navbar"}}
    <div class="container">        
        <h4 class="text-center mt-3">Customer Page</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
                {{range .CustomerList}}
              <tr class='clickable-row' data-href='/admin/getCustomer/{{.ID}}'>
                <td>{{.Email}}</td>
                <td>{{.LastName}}, {{.FirstName}}</td>
                <td>{{.Company}}</td>
                <td>{{.Phone}}</td>
              </tr>
              {{end}}             
            </tbody>
          </table>         
          {{template "pagination" .}}
    </div>
</body>

</html>