<!DOCTYPE html>
<html>
{{template "head"}}



<body>
    {{template "navbar"}}
    <div class="container">
       
        <h4 class="text-center mt-4">Edit Payment Gateway Page</h4>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="prod-tab" data-toggle="tab" href="#pgwedit" role="tab"
                    aria-controls="category" aria-selected="true">Category</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="cat-tab" data-toggle="tab" href="#deletePgw" role="tab" aria-controls="add"
                    aria-selected="false">Delete</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pgwedit" role="tabpanel" aria-labelledby="home-tab">
                <div class="shadow-none p-3 mb-5 mt-5 bg-light rounded">
                    <form method="POST" action="/admin/updatePaymentGateway">
                        <input name="id" type="hidden" id="id" value="{{.PaymentGatway.ID}}">
                        <input name="storePluginId" type="hidden" id="storePluginId" value="{{.PaymentGatway.StorePluginsID}}">
                        
                        <div class="form-group">
                            <label for="catIds">Name</label>
                            <select name="storePluginIddis" disabled id="storePluginIddis" class="custom-select custom-select-lg mb-3"
                                data-selected-text-format="count">
                                {{ $PinID := .PaymentGatway.StorePluginsID }} {{range $.StorePluginPgwList}}
                                {{if eq $PinID .ID }}
                                <option value="{{.ID}}" selected>{{.PluginName}}</option>
                                {{else}}                               
                                <option value="{{.ID}}">{{.PluginName}}</option>
                                {{end}}{{end}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="checkoutUrl">Checkout Url</label>
                            <input name="checkoutUrl" type="text" class="form-control" id="checkoutUrl" value="{{.PaymentGatway.CheckoutURL}}">
                        </div>

                        <div class="form-group">
                            <label for="clientId">Client Id</label>
                            <input name="clientId" type="text" class="form-control" id="clientId"
                                value="{{.PaymentGatway.ClientID}}">
                        </div>

                        
                        <div class="form-group">
                            <label for="clientKey">Client Key</label>
                            <input name="clientKey" type="text" class="form-control" id="clientKey"
                                value="{{.PaymentGatway.ClientKey}}">
                        </div>

                        <div class="form-group">
                            <label for="logoUrl">Logo Url</label>
                            <input name="logoUrl" type="text" class="form-control" id="logoUrl"
                                value="{{.PaymentGatway.LogoURL}}">
                        </div>


                        <div class="form-group">
                            <label for="postOrderUrl">Post Order Url</label>
                            <input name="postOrderUrl" type="text" class="form-control" id="postOrderUrl"
                                value="{{.PaymentGatway.PostOrderURL}}">
                        </div>

                       
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade show " id="deletePgw" role="tabpanel" aria-labelledby="home-tab">
                <div class="shadow-none p-3 mb-5 mt-5 bg-light rounded">
                    <a class="btn btn-primary" href="/admin/deletePaymentGateway/{{.PaymentGatway.ID}}" role="button">Delete
                        Payment Gateway</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>