<!DOCTYPE html>
<html>
{{template "head"}}

<body>
  {{template "navbar"}}
  <div class="container">
    <h4 class="text-center mt-3">Images (Non Product)</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Link</th>
          <th scope="col">Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
        <tr class='clickable-row' data-href='/admin/getContent/{{.Name}}'>
          <td>{{.Name}}</td>
          <td>{{.ImageURL}}</td>
          <td><img src="{{.ImageURL}}" alt="..." class="img-thumbnail" style="width:80%;"></td>
          <td>
            <div class="shadow-none p-3 mb-0 mt-0 bg-light rounded">
              <a class="btn btn-danger" href="/admin/deleteImage/{{.Name}}" role="button">Delete</a>
            </div>
            <p class="text-danger">Permanently remove</p>            
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</body>

</html>