<!DOCTYPE html>
<html>
{{template "head"}}
{{template "navbar"}}
<body>
    <div class="container-sm">   
      <h4 class="text-center mt-4">Products File Upload</h4>   
        <div class="shadow-none p-3 mb-5 mt-5 bg-light rounded">            
            <form method="POST" action="/admin/productsUpload" enctype="multipart/form-data">                
                <div class="form-group">
                    <label for="name">Products File (tar.gz)</label>
                    <input name="productupload" type="file" required class="form-control" id="productupload">
                </div>                
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>    
</body>

</html>