<!DOCTYPE html>
<html>
{{template "head"}}

<body>
    {{template "navbar"}}
    <div class="container-sm">   
      <h4 class="text-center mt-4">Thumbnail Files Upload</h4>   
        <div class="shadow-none p-3 mb-5 mt-5 bg-light rounded">
            <form method="POST" action="/admin/thumbnailsUpload" enctype="multipart/form-data">                
                <div class="form-group">
                    <label for="name">Thumbnail Files (tar.gz)</label>
                    <input name="thumbnailFilesUpload" type="file" required class="form-control" id="imageFilesUpload">
                </div>                
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>    
</body>
</html>