<!DOCTYPE html>
<html>
{{template "head"}}

<body>
    {{template "navbar"}}
    <div class="container-fluid">
        <h4 class="text-center mt-4">Update Content</h4>
        <div class="row mb-4">
            <div class="col-9">
                <div class="shadow-none p-3 mb-0 mt-0 bg-light rounded">
                    <a class="btn btn-danger"  href="/admin/deleteContent/{{.Content.Name}}" role="button">Delete this Content</a>
                </div>
                <div class="col col-lg-4 bg-warning text-dark">Will be permanently removed.</div>
                <h4 class="text-center">Page</h4>
                <form method="POST" action="/admin/updateContent">
                    <input name="name" type="hidden" id="name" value="{{.Content.Name}}">
                    <textarea id="content-area" name="content" >{{.Content.Text}}</textarea>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="namedisp" type="text" class="form-control" id="namedisp" value="{{.Content.Name}}">
                    </div>
                    <div class="form-group form-check">
                        <input name="visible" class="form-check-input" type="checkbox" id="visible" {{if .Content.Visible}} checked {{end}}>
                        <label class="form-check-label" for="visible">
                            Visible
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" type="text" class="form-control" placeholder="Title" id="title" required value="{{.Content.Title}}">
                    </div>

                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input name="subject" type="text" class="form-control" placeholder="Subject" id="subject"
                            required value="{{.Content.Subject}}">
                    </div>


                    <div class="form-group">
                        <label for="author">Author</label>
                        <input name="author" type="text" class="form-control" placeholder="Author" id="author" value="{{.Content.Author}}">
                    </div>


                    <div class="form-group">
                        <label for="metaKeyWords">Key Words</label>
                        <input name="metaKeyWords" type="text" class="form-control" id="metaKeyWords"
                            placeholder="Meta Key Words. Example: books, music" value="{{.Content.MetaKeyWords}}">
                    </div>


                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea name="desc" class="form-control" id="desc" rows="3"
                            placeholder="Description">{{.Content.MetaDesc}}</textarea>
                    </div>

                    <div class="form-group form-check">
                        <input name="blogpost" class="form-check-input" type="checkbox" id="blogpost" {{if .Content.BlogPost}} checked {{end}}>
                        <label class="form-check-label" for="blogpost">
                            Blog Post
                        </label>
                    </div>


                    <div class="form-group form-check">
                        <input name="archived" class="form-check-input" type="checkbox" id="archived" {{if .Content.Archived}} checked {{end}}>
                        <label class="form-check-label" for="archived">
                            Archived
                        </label>
                    </div>


                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            <div class="col-3">
                <h4 class="text-left">Images</h4>
                <h8 class="text-left">(Drag and Drop)</h8>
                {{range .ImageList}}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">Name:</h6>
                        <p class="card-text">{{.Name}}</p>
                    </div>
                    <img src="{{.ImageURL}}" class="card-img-bottom" alt="..." style="width:20%;">
                    <div class="card-body">
                        <h6 class="card-title">Link:</h6>
                        <p class="card-text">{{.ImageURL}}</p>
                    </div>
                    
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>