<!DOCTYPE html>
<html>
{{template "head" .}}


<body>
  {{range .MenuList}}
  {{if and (eq .Location "top")  (eq .Active true) (eq .Name "navBar")}}
  {{template "navBar" .}}
  {{end}}
  {{end}}
  <div class="container-fluid">
    {{.Content.TextHTML}}
  </div>


  <div class="container mt-5 mb-5">
    <h3 class="text-center mt-5" style="{{.PageBody.PageTitle}}">Shopping Cart</h3>
    <div class="row mt-5">
      
      {{if and .CustomerCart .CustomerCart.Items}}
      <div class="col-6">
        <h4 class="text-center mt-5" style="{{.PageBody.PageTitle}}">Cart Items</h4>

        {{range .CustomerCart.CartView.Items}}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="/viewProduct/{{.ProductID}}"><img src="{{.Image}}" class="card-img" alt="..."></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{.ProductName}}</h5>
                <p class="card-text">{{.Desc}}.</p>
                <p class="card-text">
                <div class="row">
                  <div class="col-sm">
                    <form method="GET" action="/updateCart">
                      <label for="cost">Quantity</label>
                      <input name="qty" min="1" max="{{.Stock}}" type="number" class="form-control" id="qty"
                        value="{{.Quantity}}">
                      <input name="id" type="hidden" id="id" value="{{.ProductID}}">
                      <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                    <form method="GET" action="/updateCart">
                      <input name="qty" hidden type="number" class="form-control" id="qty" value="0">
                      <input name="id" hidden type="hidden" id="id" value="{{.ProductID}}">
                      <button type="submit" class="btn btn-danger mt-3">Remove</button>
                    </form>
                  </div>
                  <div class="col-sm">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Price</h5>
                        <p class="card-text">${{.Price}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Total</h5>
                        <p class="card-text">${{.Total}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        {{end}}


      </div>
      <div class="col-6">
        <h4 class="text-center mt-5" style="{{.PageBody.PageTitle}}">Summary</h4>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order</h5>
            <p class="card-text">Total: ${{.CustomerCart.CartView.Total}}</p>
          </div>
        </div>
        <div class="shadow-none p-3 mb-5 mt-2 bg-light rounded">
          <form method="POST" action="/checkoutContinue">    
            <h5>Payment Method <span class="text-danger"> *</span></h5>        
            {{range .PaymentMethodList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentGatewayID" id="paymentGatewayID" value="{{.PaymentGateway.ID}}" required>
              <label class="form-check-label" for="paymentGatewayID">
                {{.Name}}
              </label>
            </div>
            {{end}}
            <h5 class="mt-3">Shipping Method <span class="text-danger"> *</span></h5>     
            {{range .ShippingMethodList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="shippingMethodID" id="shippingMethodID" value="{{.ID}}" required>
              <label class="form-check-label" for="shippingMethodID">
                {{.Name}} ({{.RegionName}})
              </label>
            </div>
            {{end}}
            
            {{if eq .ShowInsurance true}}
            <h5 class="mt-3">Insurance</h5>     
            {{range .InsuranceList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="insuranceID" id="insuranceID" value="{{.ID}}">
              <label class="form-check-label" for="insuranceID">
                Max ${{.MaxOrderAmount}} 
              </label>
            </div>
            {{end}}
            {{end}}

            {{if eq .ShowAddressList true}}
            <h5 class="mt-3">Billing Address</h5>    
            {{range .CustomerAddressList}}
            {{if eq .Type "Billing"}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="billingAddressID" id="billingAddressID" value="{{.ID}}" required>
              <label class="form-check-label" for="billingAddressID">
               {{.Address}}
               {{.City}}
               {{.State}} {{.Zip}}
              </label>
            </div>
            {{end}}
            {{end}}

            <h5 class="mt-3">Shipping Address</h5>    
            {{range .CustomerAddressList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="shippingAddressID" id="shippingAddressID" value="{{.ID}}" required>
              <label class="form-check-label" for="shippingAddressID">
               {{.Address}}
               {{.City}}
               {{.State}} {{.Zip}}
              </label>
            </div>
            {{end}}
            <div class="alert alert-danger mt-3" role="alert">
              <a href="/viewCustomerAccount" class="alert-link">Add New Address </a>
            </div>    
            {{else}}
            <h5 class="mt-3">Billing Address</h5> 
            <div class="form-check">
              <input hidden class="form-check-input" type="radio" name="billingAddressID" id="billingAddressID" value="" required>
              <label class="form-check-label" for="billingAddressID">
                <div class="alert alert-danger" role="alert">
                  <a href="/viewCustomerAccount" class="alert-link">Add Billing Address </a>
                </div>           
              </label>
            </div>

            <h5 class="mt-3">Shipping Address</h5> 
            <div class="form-check">
              <input hidden class="form-check-input" type="radio" name="shippingAddressID" id="shippingAddressID" value="" required>
              <label class="form-check-label" for="shippingAddressID">
                <div class="alert alert-danger" role="alert">
                  <a href="/viewCustomerAccount" class="alert-link">Add Shipping Address </a>
                </div>          
              </label>
            </div>
            
            {{end}}

            

            <button type="submit" class="btn btn-info mt-5">Continue Checkout</button>
          </form>
        </div>        
      </div>
      {{else}}
      <div class="col">
        <div class="alert alert-success" role="alert">
          Shopping Cart is Empty!
        </div>
      </div>
      {{end}}

    </div>
  </div>

</body>

</html>