{{define "BTCPayServer"}}

<!-- <a href="/completeOrder/billMeLaterTransaction" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Place Order</a> -->
<a href="/completeBTCPayTransaction/{{.CustomerCart.Total}}/{{.CustomerCart.Taxes}}/{{.CustomerCart.CustomerAccount.Customer.FirstName}}/{{.CustomerCart.CustomerAccount.Customer.LastName}}/{{.CustomerCart.CustomerAccount.Customer.Email}}"
    class="btn" role="button" aria-pressed="true"><img src="../img/pay.svg" alt="Pay with BTCPay Server" style="width: 100%;"></a>

{{end}}